<% content_for :title do %>
About Me
<% end %>

<div class="content">
    <h1>Who Am I?</h1>

    <h2>About Me</h2>
    <p class="just">
    Where do I start? I guess the beginning is as good a place as any. 
    I was born 25 years ago and spent the first few years of my life living in an 
    apartment building in Oshawa Ontario. For as long as I can remember I lived with 
    just my mother and with the resources she had, she did an admirable job in raising
     me. When I was 5, we moved out to a farm in the village of Brooklin (basically the 
    outskirts of Whitby Ontario) where I spent the next 13 years of my life. 
    </p>
    <p class="just">
    <img id="biopic" src="../images/kirk_1.jpg"/>
    Throughout high school I must have changed my aspirations for a career path at least 
    4 times (no big surprise there) and after looking into Computer Programming, Aerospace 
    Engineering, Law, and Radiation Science; I ended up choosing the latter.  Soon I was 
    off to the University of Ontario Institute of Technology (UOIT) and back to my Oshawa 
    roots where I moved back to pursue my undergraduate degree. During my time there I became 
    actively involved in everything I could get my hands on. I organized events through a 
    student club I founded, helped start up a fraternity chapter of Tau Kappa Epsilon, 
    volunteered as a Student Ambassador, and became actively involved in the community.
    </p>
    <p class="just">
    Since graduating in 2007 I have worked as a Teaching and Research Assistant at UOIT, 
    ran a part-time online business, and immersed myself in a number of various opportunities 
    throughout the community with local entrepreneurs.     </p>  

    <h2>Interests</h2>
    <p>Over the years I have developed a wide variety of interests simply
    because I've done my best to continually try new things. Some of my interests
    are Personal Development, Leadership Training, Passive Income,
    Business development, Wealth, Networking, Traveling, Reading, Outer Space,
    Investments, Close-Up Magic, Chainmail, Drawing, Video Games, Web Design,
    </p>

    <h2>Favourite Music</h2>
    <p>Dance, Euro, Vocal Trance, Trance, House, Soca, Club Anthems</p>

    <h2>Favourite TV Shows</h2>
    <p>Battlestar Galactica, House, Chris Angel's Mind Freak, Iron Chef,
    Survivor Man, Licence to Grill</p>

    <h2>Favourite Movies</h2>
    <p>300, Lady in the Water, V for Vendetta, Jurassic Park, The Illusionist,
    The Prestige, Casino Royal, The Blair Witch Project, Hostel I, Hostel II,
    28 Days Later, 28 Weeks Later, Unbreakable, Catch me if You Can, </p>

    <h2>Favourite Books</h2>
    <p>Magic of Thinking Big, Personality Plus, Think and Grow Rich, Rich Dad
    Poor Dad, Prosumer, The Art of Dealing With People, How to Win Friends and
    Influence People, Master Key to Riches, Managing to be Wealthy</p>

    <h2>Favourite Quotes</h2>
    <p>"I am not making plans for failure because I am not planning to fail.
    Contingency plan UNNECESSARY!" - General Douglas MacArthur; 1950 <br />
	<br/>
    "Time is freedom — freedom to make more money, to give it away, and to be
    with your loved ones. The path to freedom is open to you. You can be a
    worker bee, buzzing around till the end of your days, barely noticing those
    around you, or you can be a free spirit, with plenty of time to seize the
    day and tend to your family. Freedom is yours for the taking." -
    Robert Kiyosaki</p>
</div>
