<% content_for :title do %>
MySite - Created by Kirk Megna
<% end %>

<h1>Welcome to My Website</h1>



<div class="content">
	<p class="just">
		<img id="home" src="../images/kirk_2.jpg"/>
		Hello and thank you for taking the time to check out my personal website. This is an 
		ever-changing collection of thoughts, ideas, concepts, images, and life as I see it. Here
		I'll keep an on-going record of my CV and portfolio to show off some of my skills as they
		relate to programming and web development.
	</p>
	
	<p class="just">
		If you check out the 'About the Author' section, you'll get a chance to know who I am, where
		I come from, and what the heck I'm actually into. The photo section will be populated with
		images of stuff I like, items I wish to some day own, places I have been, and places I wish
		to vist some day. I'll likely be updating this area regularly with extremely expensive 
		toys borrowed from the likes of the 'Robb Report' or 'MILLIONAIRE'	
	</p>
	
	<p class="just">
		Finally I encourage you to please contact me with your comments, suggestions, feedback, or 
		questions. I will do my best to respond as soon as I can!
	</p>
</div>
